.abt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
  position: relative; /* Ensure the container is positioned relatively */
  box-sizing: border-box; /* Ensure padding and borders are included in width */
  color: white;
}

.abt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children to the left */
  margin-top: -15rem; 
  /* padding-top : 5rem; */
  width: 100%; /* Ensure it takes full width */
}

.abt-title {
  text-align: center;
  font-size: large;
  margin: 0;
  padding-left: 10rem; /* Adjust this value to position the title horizontally */
  margin-top: 20rem;
}

.line {
  width: 80rem; /* Adjust this value to expand the line width */
  margin: 0 auto; /* Center the line */
  border: 0;
  height: 1px;
  background: white; /* Line color */
  margin-left: 10rem;
}

.abt-content {
  text-align: left;
  margin-top: 20px; /* Add some space between the title and content */
  padding-left: 10rem; /* Adjust this value to position the content horizontally */
  width: calc(100% - 30rem); /* Adjust width to account for padding */
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.experience {
  padding: 2rem 8rem; /* Adjust horizontal padding to fit within the viewport */
  margin-top: 2rem; /* Adjust margin as needed */
  width: calc(100% - 4rem); /* Adjust width to fit within the viewport */
  box-sizing: border-box; /* Include padding in width calculation */
  text-align: left;
}

.skill-title {
  text-align: left;
}


/* Skills Container */
.skills {
  padding: 2rem 8rem; /* Adjust horizontal padding as needed */
  margin-top: 2rem; /* Adjust margin as needed */
  width: calc(100% - 4rem); /* Ensure full width minus padding */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Flexbox layout for prog and other-skills */
.skill-list {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
  gap: 2rem; /* Add space between columns */
  text-align: left;
}

/* Container for each skill section */
.prog, .other-skills {
  flex: 1; /* Allow sections to grow equally */
  min-width: 300px; /* Ensure sections have a minimum width */
}

/* Titles inside each section */
.prog h2, .other-skills h2 {
  margin: 0;
  padding-bottom: 1rem;
}

/* Style for skill lists */
ul {
  list-style-type: disc;
  padding-left: 1.5rem; /* Adjust padding for list items */
}



