/* General Styles */
.abt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  color: white;
}

.abt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children to the left for larger screens */
  margin-top: -15rem;
  width: 100%;
}

.abt-title {
  text-align: center;
  font-size: large;
  margin: 0;
  padding-left: 10rem;
  margin-top: 20rem;
}

.line {
  width: 80rem;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background: white;
  margin-left: 10rem;
}

.abt-content {
  text-align: left;
  margin-top: 20px;
  padding-left: 10rem;
  width: calc(100% - 30rem);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.experience, .skills {
  padding: 2rem 8rem;
  margin-top: 2rem;
  width: calc(100% - 4rem);
  box-sizing: border-box;
  text-align: left;
}

.skill-title {
  text-align: left;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: left;
}

.prog, .other-skills {
  flex: 1;
  min-width: 300px;
}

.prog h2, .other-skills h2 {
  margin: 0;
  padding-bottom: 1rem;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

/* Phone Size Adjustments */
@media (max-width: 480px) {
  .abt-wrapper {
    align-items: center; /* Center align for phone screens */
    margin-top: -4rem; /* Reset margin-top */
    padding: 0 1rem; /* Add padding for small screens */
  }

  .abt-title {
    font-size: 1.2rem; /* Adjust font size for phone screens */
    padding-left: 0; /* Remove left padding */
    margin-top: 1rem; /* Adjust margin for phone screens */
  }

  .line {
    width: 100%; /* Full width for phone screens */
    margin: 1rem 0; /* Adjust margin for phone screens */
  }

  .abt-content {
    text-align: center; /* Center text for phone screens */
    padding-left: 0; /* Remove left padding */
    width: 100%; /* Full width for phone screens */
    font-size: 1rem; /* Adjust font size for phone screens */
    margin: 1rem 0; /* Adjust margin for phone screens */
  }

  .experience, .skills {
    padding: 1rem; /* Adjust padding for phone screens */
    margin-top: 1rem; /* Adjust margin for phone screens */
    width: 100%; /* Full width for phone screens */
    text-align: center; /* Center text for phone screens */
  }

  .skill-title {
    text-align: center;
  }

  .skill-list {
    flex-direction: column; /* Stack items vertically for phone screens */
    gap: 1rem; /* Reduce gap for phone screens */
  }

  ul {
    padding-left: 0; /* Remove padding for phone screens */
    text-align: left; /* Center align text for phone screens */
  }
}
